<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
<p>Test page for the DG application</p>
<p>It needs to be embedded here rather than viewed on the preview so the javascript can be run</p>
<script type="text/javascript" src="https://form.jotform.com/jsform/203407869834061"></script>
<script type="text/javascript" src="{{url_for('static', filename='send_request.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='icp_request.js')}}"></script>
</body>
</html>